<script>
    import "../app.css";
    import { voucher_store, voucher_array_store } from "$lib/stores";
import { onMount } from "svelte";

    let amount;
    export let symbol;

    onMount(() => {
        $voucher_store = $voucher_array_store.find(voucher => voucher.symbol == symbol)
    })


</script>
<script context="module">
    export async function load({ page }) {
    const symbol_slug = `${page.params.symbol}`;

        return {
            props: {
                symbol: symbol_slug
            }
        };
    // const res = await fetch(url);

    // if (res.ok) {
    // 	return {
    // 		props: {
    // 			article: await res.json()
    // 		}
    // 	};
    // }

    // return {
    // 	status: res.status,
    // 	error: new Error(`Could not load ${url}`)
    // };
}
</script>
<a href="/marketplace" style="margin-left: auto; float: right;"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#597e8d" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <line x1="4" y1="6" x2="20" y2="6" />
    <line x1="4" y1="12" x2="20" y2="12" />
    <line x1="4" y1="18" x2="20" y2="18" />
  </svg></a>
<h3>{$voucher_store.name} ({$voucher_store.symbol})</h3>
<p>from {$voucher_store.offerer}</p>
<p>Status: <strong>{$voucher_store.validated}</strong></p>
<p>1 {$voucher_store.symbol} is redeemable for {$voucher_store.redeemable}. 1 {$voucher_store.symbol} is denominated in <strong>{$voucher_store.unit} {$voucher_store.denomination}</strong>.</p>
<p>{$voucher_store.symbol} are redeemable for 1 year from purchase.  Holdings of {$voucher_store.symbol} are subject to demurrage, at a rate of 1% per month, with the proceeds going back to {$voucher_store.offerer}.</p>
  <p>There are <strong>{$voucher_store.amount} {$voucher_store.symbol}</strong> available.</p>
<form>
  <h4>Buy {$voucher_store.symbol}</h4>
  <input class="number_input" bind:value={amount}><span>{$voucher_store.symbol}</span><br>
  {#if amount}
  <span>Total: <strong>{$voucher_store.unit * amount} {$voucher_store.denomination}</strong></span>
  <!-- <button style="margin-left: auto; margin-top: 10px;">Buy {amount} {$voucher_store.symbol} for {$voucher_store.price * amount} {$voucher_store.denomination}</button> -->
  <!-- <button style="margin-left: auto; margin-top: 10px;">Pay {$voucher_store.price * amount} {$voucher_store.denomination} for {amount} {$voucher_store.symbol}</button> -->
  <button type="button" style="margin-left: auto; margin-top: 10px;">Buy {amount} {$voucher_store.symbol}</button>
  {/if}
</form>
<br>
<style>
    form {
      /* background: #f7f7f7; */
      padding: 0.5em;
      /* border: solid 1px #dadada; */
      border-radius: 5px;
      text-align: right;
      margin-top: 20px;
    }

    form input, textarea, label, button {
        display: block;
    }
    
    input, textarea {
    margin-bottom: 1rem;
    margin-top: 0.25em;
    padding: 5px;
    border: solid 0.5px #e2e2e2;
    /* border-radius: 5px; */
  }
  .number_input {
    display: inline-block; 
    margin-right: 5px; 
    text-align: right; 
    width: 100px; 
    border: none; 
    border-bottom: solid 1px #e2e2e2;
  }
  .number_input:focus {
    outline-width: 0;
  }
  p {
    margin-top: 0.75rem;
  }
</style>