<script>
    import "../app.css";
    import { voucher_array_store } from "$lib/stores"
import { goto } from "$app/navigation";

    function clickVoucher(symbol) {
        console.log(symbol);

        goto(`/${symbol}`);

        // console.log(e.target);
    }
</script>
<a href="/create_voucher" style="margin-left: auto; float: right; cursor: pointer;">Create Voucher</a>
<h3>Browse Vouchers</h3>
{#each $voucher_array_store as voucher}
<div id={voucher.symbol} class="voucher" style="display: flex" on:click={clickVoucher(voucher.symbol)}>
    <div style="">
    <h4>{voucher.symbol}</h4>
    <p>{voucher.redeemable}</p>
    </div>
    <div style="margin-left: auto; margin-top: 10px;">
    <p>{voucher.unit} {voucher.denomination}</p>
    </div>
</div>
{/each}
<style>
    .voucher {
        margin: 20px auto;
        padding: 15px;
        /* padding-top: 10px;
        padding-bottom: 10px; */
        background: #f0f0f0;
        cursor: pointer;
    }
</style>
<!-- {JSON.stringify($voucher_array_store)} -->