<script>
    import "../../app.css";
    import { voucher_array_store, voucher_store } from "$lib/stores";
import { goto } from "$app/navigation";

    let redeemable;
    let offerer;
    let amount;
    let name;
    let symbol;
    let denomination;
    let price;
    let unit;

    function submitVoucher(e) {
      let formData = new FormData(e.target);

      let object = {};
      
      formData.forEach((value, key) => object[key] = value);

    //   object[id] = $voucher_array_store.length + 1;

      $voucher_array_store.push(object);

      $voucher_store = object;

      console.log($voucher_store);

      console.log($voucher_array_store);

      goto(`/${$voucher_store.symbol}`);
    }

</script>
<a href="/marketplace" style="margin-left: auto; float: right;"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#597e8d" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <line x1="4" y1="6" x2="20" y2="6" />
    <line x1="4" y1="12" x2="20" y2="12" />
    <line x1="4" y1="18" x2="20" y2="18" />
  </svg></a>
<h2>Create Voucher</h2>
<p>On this page, you can create vouchers redeemable for goods/services, which you can exchange with others.</p>
<p>After your voucher is submitted and validated, it will be available for others to buy on the marketplace.</p>
<br>
<form on:submit|preventDefault={submitVoucher}>
    <label>What is your voucher redeemable for?</label>
    <textarea style="width: 90%" name="redeemable" bind:value={redeemable} placeholder="Purchases at Adia's coconut shop, 1 kilogram of coconut oil, etc."></textarea>
    <label>Who are the person(s) or business(es) offering this voucher, and accountable for its redemption?</label>
    <input name="offerer" bind:value={offerer} placeholder="Adia Kamau">
    <label>Voucher Name</label>
    <input name="name" bind:value={name} placeholder="Coconut Oil from Adia">
    <label>Voucher Symbol</label>
    <input name="symbol" bind:value={symbol} placeholder="ACO">
    <!-- <label>In what currency is this voucher denominated?</label>
    <select name="demonination" bind:value={denomination}><option>Kenyan Shilling</option><option>United States Dollar</option><option>Euro</option></select><br> -->
    {#if symbol || unit}
    <label>What is the denomination of {symbol} vouchers?</label>
    <span>1 {symbol} = <input class="number_input" name="unit" bind:value={unit} placeholder="1.00"><select style="display: inline-block;" name="denomination" bind:value={denomination}><option>KSh</option><option>USD</option><option>EUR</option></select><br></span>
    <label style="font-size: 14px; font-style: italic;">This means someone can exchange 1 {symbol} voucher for {unit ? unit : "___"} {denomination} worth of goods/services from {offerer}</label>
    <br>
    <!-- <label>What is the price of 1 voucher, redeemable for <strong>{redeemable}</strong>?</label>
    <input class="number_input" name="price" bind:value={price} placeholder="1.00"><select style="display: inline-block;" name="denomination" bind:value={denomination}><option>KSh</option><option>USD</option><option>EUR</option></select><br> -->
    <label>How many vouchers would you like to mint?</label>
    <!-- <label style="font-size: 14px; font-style: italic;">You cannot produce more vouchers than you can redeem within a one-month period.</label> -->
    <input class="number_input" name="amount" bind:value={amount} placeholder="1000"><span style="display: inline-block">{symbol} vouchers</span>
    <label style="font-size: 14px; font-style: italic;">This means that {offerer ? offerer : "offerer"} must be able to redeem {unit*amount ? unit*amount: "____"} {denomination} worth of goods/services in a one-month period.</label>
    <input style="display: none;" name="validated" value="Awaiting Validation">
    <input style="display: none;" name="id" value={$voucher_array_store.length + 1}>
    <br>
    <button style="margin: auto; text-align: center; margin: 5px auto 10px;">Submit Voucher for Validation</button>
    {:else}
    <button style="margin: auto; text-align: center; margin: 5px auto 10px;" disabled>Submit Voucher for Validation</button>
    {/if}
</form>
<style>
    form {
      background: #f7f7f7;
      padding: 0.5em;
      border: solid 1px #dadada;
      border-radius: 5px;
    }

    form input, textarea, label, button {
        display: block;
    }
    
    input, textarea {
    margin-bottom: 1rem;
    margin-top: 0.25em;
    padding: 5px;
    border: solid 0.5px #e2e2e2;
    /* border-radius: 5px; */
  }
  .number_input {
    display: inline-block; 
    margin-right: 5px; 
    text-align: right; 
    width: 100px; 
    border: none; 
    border-bottom: solid 1px #e2e2e2;
  }
  .number_input:focus {
    outline-width: 0;
  }
  p {
    margin-top: 0.75rem;
  }
</style>